.SidebarCon {
  width: 6%;
  height: 86.4vh;
  position: sticky;
  top: 14vh;
  display: flex;

  align-items: center;
  justify-content: center;
  /* background-color: rgba(255,255,255,.8); */
  background-color: rgb(220, 220, 247);
}
.SidebarCon div {
  width: 60%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.SidebarCon div .link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
  padding: 5px 15px;
  cursor: pointer;
}
.SidebarCon div .link li {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.556);
}
.SidebarCon div .link :hover {
  color: #302657;
}
